<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Notre sélection du mois</h2>
        <p>Voici les 9 vins du mois que nous avons sélectionnés. Pour découvrir le reste de notre catalogue, contactez-nous.</p>
        <br>
      </div>
    </div>
    <div class="row">
      <% @bottles.each do |bottle| %>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#<%=bottle.id%>">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src=<%= image_path(bottle.image)%> alt="">
        </a>
        <div class="portfolio-caption">
          <h4><%= bottle.chateau %></h4>
          <p class="text-muted"><%= bottle.year %></p>
        </div>
      </div>

      <% end %>
    </div>
  </div>
  <div class="btnnouscontacter col-xs-12 col-md-12 text-center">
  <a class="btn btn-xl js-scroll-trigger" href="#contact">Recevoir tout le catalogue</a>
</div>
</section>

<% @bottles.each do |bottle| %>
<div class="portfolio-modal modal fade" id="<%=bottle.id%>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2><%= bottle.chateau %></h2>
                <h5><%= bottle.appellation %></h5>
                <h5><%= bottle.year %></h5>
                <p class="item-intro text-muted">"<%= bottle.slogan %>"</p>
                <img class="img-fluid d-block mx-auto" src="vendor/img/portfolio/01-full.jpg" alt="">
                <p>Caractère : <%= bottle.caractere %></p>
                <p>Accord mets et vins : <%= bottle.accord %></p>
                <p>Température de service : <%= bottle.tempservice %></p>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fa fa-times"></i>
                  Fermer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


