<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="intro-lead-in">Les pays de livraison</div>
        <br>
        <p>Nous sommes en mesure de vous livrer aux Etats-Unis, au Royaume-Uni, en Chine ainsi que dans tous les pays de l'Union Européene.</p>

      </div>
      <div class="col-xs-12 col-sm-12 text-center">
        <div class="row hidden-xs">
          <div class="col-sm-2">
            <img class="flag" src=<%= image_path('flags/united-states.png')%> alt="US">
          </div>
          <div class="col-sm-2">
            <img class="flag" src=<%= image_path('flags/european-union.png')%> alt="US">
          </div>
          <div class="col-sm-2">
            <img  class="flag" src=<%= image_path('flags/united-kingdom.png')%> alt="US">
          </div>
          <div class="col-sm-2">
            <img  class="flag" src=<%= image_path('flags/china.png')%> alt="US">
          </div>
          <div class="col-sm-2">
            <img  class="flag" src=<%= image_path('flags/belgium.png')%> alt="US">
          </div>
          <div class="col-sm-2">
            <img  class="flag" src=<%= image_path('flags/germany.png')%> alt="US">
          </div>
        </div>
      </div>
      <div class="btnnouscontacter col-xs-12 col-md-12 text-center">
        <a class="btn btn-xl js-scroll-trigger" href="#contact">Contactez-nous</a>
      </div>
    </div>
  </div>
</section>
